<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <ul>
        <% for(let i = 0; i < 3; i++) { %>
            <li><%= i %></li>
        <% } %>
    </ul>
    <%- content1 %>
    <%= content2 %>
    <ol>
        <% arr.forEach(function(val){ %>
            <li><%= val %></li>
        <% }) %>
    </ol>
</body>
</html>